{$ (static-file "./css" "css") $}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ (relative-url `/css/main.css`) }}" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ (relative-url `/css/syntax.css`) }}" type="text/css" charset="utf-8">
    <title>{{ (dyn :title) }}</title>
  </head>
  <body>
    <div class="nice-back">
      <div class="content-wrapper">
        <div class="heading">
          {% (loop [p :in pages :when (p :topbar)] %}
          <span class="{{ (if (= url (p :url)) "head-main" "head-span") }}">
            <a href="{{ (relative-url (p :url)) }}">{{ (p :title) }}</a>
          </span>
          {% ) %}
        </div>
      </div>
    </div>
    <hr>
    <div class="content-wrapper">
      <div class="inner-wrapper">
        {{ content }}
      </div>
    </div>
    <div class="pre-footer">
      <hr>
    </div>
    <footer>
      Copyright &copy; {{ (dyn :author "") }} {{ ((os/date) :year) }}
    </footer>
  </body>
</html>
