<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ (state :title) }}</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div>
      <ol>
      {% (each p pages %}
      <li>
        <a href="{{ (p :url) }}">{{ (p :title) }}</a>
      </li>
      {% ) %}
      </ol>
    </div>
    {{ content }}
    <footer>
      Copyright &copy; Calvin Rose {{ ((os/date) :year) }}
    </footer>
  </body>
</html>
